{
   "extends": "airbnb-base",
   "env":{
      "browser": true
   },
   "rules":{
      "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*gulpfile.babel.js", "**/*gulp/**/*"]}],
      "indent": ["error", 3],
      "linebreak-style": 0
   }
}
