<div class="accordion" aria-live="polite">
   <button class="accordion__btn" aria-label="Кнопка показать содержимое"></button>

   <div class="accordion__content" aria-hidden="true">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
      voluptatibus esse repudiandae iste modi repellendus facere vitae
      suscipit debitis incidunt sit minima adipisci ex, quidem fuga enim at
   </div>
</div>

<div class="accordion" aria-live="polite" role="group">
   <button class="accordion__btn" aria-label="Кнопка показать содержимое"></button>

   <div class="accordion__content" aria-hidden="true">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
      voluptatibus esse repudiandae iste modi repellendus facere vitae
      suscipit debitis incidunt sit minima adipisci ex, quidem fuga enim at
   </div>
</div>

<div class="accordion" aria-live="polite" role="group">
   <button class="accordion__btn" aria-label="Кнопка показать содержимое"></button>

   <div class="accordion__content" aria-hidden="true" role="group">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
      voluptatibus esse repudiandae iste modi repellendus facere vitae
      suscipit debitis incidunt sit minima adipisci ex, quidem fuga enim at
   </div>
</div>
