.container {
   @if $min-max == min {
      width: 100%;
   }
   margin: 0 auto;

   @if $min-max == max {
      max-width: map-get($container-max-widths, 'xl');
   }

   @extend %container;

   @include media(sm) {
      padding: 0 15px;
   }
}
