:root {
   --med: 1200px;
}
.container {
   max-width: 1320px;
   margin: 0 auto;

   @include media(max,xxl) {
      max-width: 1140px;
   }

   @include media(max, xl) {
      max-width: 960px;
   }

   @include media(max, lg) {
      max-width: 720px;
   }

   @include media(max, md) {
      max-width: 540px;
   }

   @include media(max, sm) {
      max-width: unset;
      padding-left: 20px;
      padding-right: 20px;
   }

   @include media(max, var(--med)) {
      display: none;
   }
}

.supercaption {
}

.h1 {
}

.h2 {
}

.p1 {
}

.p2 {
}