:root {
   --supercaption: 32px/1.3 var(--font_family);
   --h1: 24px/1.3 var(--font_family);
   --h2: 24px/1.3 var(--font_family);
   --p1: 24px/1.3 var(--font_family);
   --p1: 24px/1.3 var(--font_family);

   @include media(max, xl) {
      --supercaption: 12px/1.3 var(--font_family);
      --h1: 24px/1.3 var(--font_family);
      --h2: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
   }

   @include media(max, lg) {
      --supercaption: 12px/1.3 var(--font_family);
      --h1: 24px/1.3 var(--font_family);
      --h2: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
   }

   @include media(max, md) {
      --supercaption: 12px/1.3 var(--font_family);
      --h1: 24px/1.3 var(--font_family);
      --h2: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
      --p1: 24px/1.3 var(--font_family);
   }
}

.container {
   max-width: 1320px;
   margin: 0 auto;

   @include media(max,xxl) {
      max-width: 1140px;
   }

   @include media(max, xl) {
      max-width: 960px;
   }

   @include media(max, lg) {
      max-width: 720px;
   }

   @include media(max, md) {
      max-width: 540px;
   }

   @include media(max, sm) {
      max-width: unset;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.supercaption {
   font: var(--supercaption);
}

.h1 {
   font: var(--h1);
}

.h2 {
   font: var(--h2);
}

.p1 {
   font: var(--p1);
}

.p2 {
   font: var(--p2);
}