//--------------text----------------//

@mixin adaptive-font($maxSizeFont, $minSizeFont, $maxWidth, $minWidth) {
   $sizeFont: $maxSizeFont - $minSizeFont;
   $maxWidth: $maxWidth - $minWidth;
   font-size: calc(#{$minSizeFont + px} + #{$sizeFont} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
}

@mixin font-face($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src:
      url("../fonts/#{$file_name}.woff2") format("woff2"),
         url("../fonts/#{$file_name}.woff") format("woff");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

/* -----------------------------------------------------------------
                       @media

1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media

2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)

3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.

 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.

Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}

Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}

--------------------------------------------------------------------*/

@mixin media($min-max, $breakpoint_1, $breakpoint_2: none) {

   @if  map-has-key($grid_breakpoints, $breakpoint_1) and $min-max == "max"{

      @media only screen and (#{$min-max}-width: #{map-get( $grid_breakpoints, $breakpoint_1)}) {
         @content;
      }

   }

   @else if map-has-key($grid_breakpoints, $breakpoint_1) and $min-max == 'min' {

      @media only screen and (#{$min-max}-width: #{map-get( $grid_breakpoints, $breakpoint_1)}) {
         @content;
      }

   }

   @else if map-has-key($grid_breakpoints, $breakpoint_1) and $min-max == 'min-max' {

      @media only screen and (min-width: #{map-get( $grid_breakpoints, $breakpoint_1)}) and (max-width: #{map-get( $grid_breakpoints, $breakpoint_2)}){
         @content;
      }

   }

   @else if $min-max == 'min-max' {

      @media only screen and (min-width: $breakpoint_1) and (max-width: $breakpoint_2){
         @content;
      }

   }

   @else {

      @media only screen and (#{$min-max}-width: $breakpoint_1) {
         @content;
      }

   }

}