sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline
}

sub {
   bottom: -0.25em
}
sup {
   top: -0.5em
}

button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0
}

button,
input {
   overflow: visible
}

button,
select {
   text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto
}

[type="search"] {
-webkit-appearance: textfield;
   outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none
}

::-webkit-file-upload-button {
-webkit-appearance: button;
   font: inherit
}

template {
   display: none
}

[hidden] {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

   min-width: 320px;
}

input::-ms-clear {
	display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

button {
	cursor: pointer;
}

progress {
	vertical-align: baseline;
}

a{
   color: inherit;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: bottom;
}