@mixin wh($w,$h:$w) {
   width: $w;
   height: $h;
}

//--------------text----------------//

@mixin font($size:false,$lh:false,$weight:false,$text-align:false) {
   font-size: $size;
   line-height: $lh;
   font-weight: $weight;
   text-align: $text-align;
}

//----------------media------------------//

@mixin font-face($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src:
      url("../assets/fonts/#{$file_name}.woff2") format("woff2"),
         url("../assets/fonts/#{$file_name}.woff") format("woff");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@mixin media($breakpoint) {
   @if $min-max == min {
      @if map-has-key($grid-breakpoints-min, $breakpoint) {

         @media only screen and (#{$min-max}-width: #{map-get( $grid-breakpoints-min, $breakpoint)}) {
            @content;
         }

      }

      @else {

         @media only screen and (#{$min-max}-width: $breakpoint) {
            @content;
         }

      }
   }

   @else if $min-max == max {
      @if map-has-key($grid-breakpoints-min, $breakpoint) {

         @media only screen and (#{$min-max}-width: #{map-get( $grid-breakpoints-max, $breakpoint)}) {
            @content;
         }

      }

      @else {

         @media only screen and (#{$min-max}-width: $breakpoint) {
            @content;
         }

      }
   }

}
