//--------------text----------------//

@mixin font($size,$lh,$font-weight:null,$text-align:null) {
   font-size: $size;
   line-height: $lh;
   font-weight: $font-weight;
   text-align: $text-align;
}

//----------------media------------------//

@mixin font-face($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: optional;
      src:
      url("../assets/fonts/#{$file_name}.woff2") format("woff2"),
         url("../assets/fonts/#{$file_name}.woff") format("woff");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@mixin media($min-max, $breakpoint) {

   @if map-has-key($grid-breakpoints-max, $breakpoint) {

      @media only screen and (#{$min-max}-width: #{map-get( $grid-breakpoints-max, $breakpoint)}) {
         @content;
      }

   }

   @else {

      @media only screen and (#{$min-max}-width: $breakpoint) {
         @content;
      }

   }

}
