@mixin wh($w,$h:$w) {
   width: $w;
   height: $h;
}

//--------------text----------------//

@mixin font($size:false,$lh:false,$weight:false,$text-align:false) {
   @if $size { font-size: $size; }
   @if $lh { line-height: $lh; }
   @if $weight { font-weight: $weight; }
   @if $text-align { text-align: $text-align; }
}

//----------------media------------------//

@mixin media($minmax, $media) {
   @media only screen and (#{$minmax}-width: $media) {
      @content;
   }
}

@mixin font-face($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src:
      url("../assets/fonts/#{$file_name}.woff2") format("woff2"),
         url("../assets/fonts/#{$file_name}.woff") format("woff");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@mixin focus-visible{
   @if(&){
      .js-focus-visible &:focus:not(.focus-visible) {
         @content;
       }
   }
   @else{
      .js-focus-visible :focus:not(.focus-visible) {
         @content;
       }
   }
}
