$grid-breakpoints-max: (
   xll: 1440px - 0.2px,
   xl: 1200px - 0.2px,
   lg: 992px - 0.2px,
   md: 768px - 0.2px,
   sm: 576px - 0.2px,
);

$font_family: "font-family", cursive;
$font_family_secondary: "font-family", cursive;
$font_weight: 400;
$min_width: 320px;

$main_color:#000;
$secondary_color_1: #000;
$secondary_color_2: #000;
$secondary_color_3: #000;
$secondary_color_4: #000;

