$min-max:max;

$grid-breakpoints-max: (
   xl: 1200px - 0.2px,
   lg: 992px - 0.2px,
   md: 768px - 0.2px,
   sm: 576px - 0.2px,
);

$container-max-widths: (
   xl: 1100px,
   lg: 960px,
   md: 720px,
   sm: 540px
);

$container-base-size: 1200px;
$font-family: "font-family";
$font-family-secondary: "font-family";
$font-weight: 400;
$min-width: 320px;

$default-color:#000;
$secondary-color: #000;

